*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma;
    font-weight: 200;
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.Background{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content:flex-end;

    background-image: url("../imgs/LoginBackground.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;

    padding-bottom: 5vh;

    color: white;

    font-size: 0.9rem;
    padding-bottom: 7vh;
}

#ImgAmor{
    width: 1.2vw;
    height: fit-content;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    align-content: center;
}

#Rodape{
    text-align: center;
    width: 100%;
    padding-top:0.5vh;
}

.Login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(30,30,30);
    color: white;

    width: 50vw;
}

#Logo{
    height: 5.5vh;
    width: fit-content;

    margin-top: 10vh;
    margin-bottom: 12vh;
}

#tituloRecuperar{
    width: 65%;
    color: silver;
}

#textoRecuperar{
    width: 65%;
    color: silver;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.LabelForm{
    color:rgb(226,226,226);
    font-size: 0.9rem;

    width: 65%;

    padding-top: 4vh;
    padding-bottom: 0.5vh;
}

.CampoForm{
    width: 65%;
    height: 7vh;

    color: rgb(226,226,226);

    background-color: rgb(18,18,18);
    border-radius: 5px;
    border-style: none;

    margin-top: 1vh;
    padding-left: 1vw;
    margin-bottom: 4vh;
}

.CampoForm:focus{
    border-color: rgb(231,121,91);
    border-width: 1px;
    border-style: solid;
    outline: none;
}

#botaoRecuperar{
    background-color: rgb(231,121,91);
    color: white;
    border-radius: 50px;
    border-width: 0px;

    font-size: 1.1rem;

    width: 15vw;
    height: 7vh;

    margin-bottom:4vh;
}

#botaoRecuperar:hover{
    background-color: white;
    color: rgb(231,121,91);
    transition: 0.6s;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(231,121,91);
    text-decoration: underline;

    transition: 0.6s;
}